<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration>
<configuration scan="true">
    <appender name="logstash" class="net.logstash.logback.appender.LogstashTcpSocketAppender">
        <destination>localhost:4567</destination>
            <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
                <level>INFO</level>
            </filter>
        <encoder>
            <pattern>%d %level [%thread] %logger{0}: [%X{requestURL}] [%X{method}] %msg%n</pattern>
            <outputPatternAsHeader>true</outputPatternAsHeader>
        </encoder>
    </appender>

    <root >
<!--        <level>INFO</level>-->
        <appender-ref ref="logstash" />
    </root>
</configuration>